game-files-processor/src/main/resources/CubeBlocks/
game-files-processor/src/main/resources/Localization/
game-files-processor/src/main/resources/Components.sbc
game-files-processor/src/main/kotlin/generated/
