/* Fonts */
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

    body {
        padding:0;
        margin:0;
        background: #1e1f24;
        color: #fff;
        font-family: 'Noto Sans', sans-serif;
        font-size: 0.9em;
    }

/* Page Header */
    .banner {
        width: 100%;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        margin: 50px 0 50px 0;
    }

/* Container for h1 & subtitle */
    .headingz {
        max-width: 800px;
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

/* All da content */
    .content {
        max-width: 800px;
        min-width: 160px;
        margin: 0 auto 70px auto;
        padding: 0 5px 0 5px;
    }

    .content-guide {
        width: 60%;
        float:right;
    }

    .content-calculator {
        min-width: 160px;
        width: 35%;
        margin: 0 10px 0 0;
        padding: 0 10px 0 10px;
    }

    .vizzibull {
        display: block !important;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #31343b;
        background: #363940;
    }

    div.collapsible {
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.3s;
    }

    #breakdown_div {
        max-height: none;
    }

    div {
        overflow: hidden;
        max-height: 100%;
    }

    th, td {
        text-align: left;
        padding: 16px;
    }

    tr:nth-child(even) {
        background: #31343b;
    }

    #results {
        width: 100%;
        display: none;
        clear: both;
    }

    .error {
        width: 100%;
        display: none;
        clear: both;
        color: #ff2c00;
        padding: 5px;
    }

    .collapse_button {
      background-color: #777;
      color: white;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
    }

    .collapse_button:after {
      content: '\002B';
      color: white;
      font-weight: bold;
      float: right;
      margin-left: 5px;
    }

    .active, .collapsible_button:hover {
      background-color: #555;
    }

    .active:after {
      content: "\2212";
    }

    footer {
        clear:both;
        width:100%;
        margin: 0 auto 0 auto;
        padding: 15px 0 15px 0;
        position: fixed;
        bottom: 0;
        text-align: center;
        background: #31343b;
    }

    footer a:link {
        color: #eee;
    }

    footer a:visited {
        color: #ccc;
    }

    footer a:hover, footer a:active {
        color: #fff;
    }
